
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
type: Opaque
stringData:
  OPENAI_API_KEY: "{{ .Values.openai.apiKey }}"
  GITHUB_TOKEN: "{{ .Values.github.token }}"
  DISCORD_URL: "{{ .Values.discord.url }}"
