name: CI/CD

on:
  push:
    branches: ['**']
    tags: ['v*']
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  test:
    uses: ./.github/workflows/test.yaml
  build:
    uses: ./.github/workflows/build.yaml
    needs: test
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev'
  docker:
    uses: ./.github/workflows/docker.yaml
    needs: test
    if: |
      github.ref == 'refs/heads/master' || 
      github.ref == 'refs/heads/dev' ||
      startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: read
      packages: write
    secrets: inherit
