name: Docker

on:
  workflow_call:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    name: Build & Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            # Pour les releases GitHub (tags vX.Y.Z)
            type=semver,pattern=v{{version}},enable=${{ github.ref_type == 'tag' }}
            type=semver,pattern=v{{major}}.{{minor}},enable=${{ github.ref_type == 'tag' }}
            type=semver,pattern=v{{major}},enable=${{ github.ref_type == 'tag' }}
            type=raw,value=stable,enable=${{ github.ref_type == 'tag' }}
            
            # Pour la branche master
            type=raw,value=master,enable=${{ github.ref == 'refs/heads/master' }}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/master' }}
            type=sha,prefix=master-,enable=${{ github.ref == 'refs/heads/master' }}
            
            # Pour la branche dev
            type=raw,value=dev,enable=${{ github.ref == 'refs/heads/dev' }}
            type=sha,prefix=dev-,enable=${{ github.ref == 'refs/heads/dev' }}
            
            # Pour toutes les autres branches
            type=sha,prefix=${{ github.ref_name }}-,enable=${{ github.ref != 'refs/heads/master' && github.ref != 'refs/heads/dev' && github.ref_type != 'tag' }}
      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./DockerFile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
